<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
            Having worked primarily with lean & hungry startups, I've found myself embracing their philosphies. While I believe that being a full stack developer empowers me, AI helps me dream.
        </p>
        <p>
            I like to see myself as a proficient software engineer who's primary motivation is building products that are useful and easy to use. Open source stacks motivate me; if I have seen further it is by standing on the shoulders of Giants.
        </p>
        <p>
            I love to build.
            I look forward to working with amazing individuals & firms who have fun solving hard engineering problems. 
            Although my core strength is machine learning and full stack, I fancy myself an amateur systems architect with an eye for product design.
        </p>
      </div>
     <div class="col-sm-6">
        <h3 style="margin-top:0;">What I seek...</h3>
        <ul>
          <li>
            A healthy and challenging work environment where I'll be pushed to outperform myself on a regular basis.
          </li>
          <li>
            Intersting engineering problems.
          </li>
          <li>
            Peace.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
