<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My passions and interests include:
        </p>
			<ul>
			  <li>
				 <b>Machine learning</b>. I like to keep myself updated and relevant in the face of all the amazing inovations that people are doing all over the world. Arxiv, blog posts, youtube videos, these are some of my favourite things.
			  </li>
			  <li>
				  <b>Blockchain</b>. Disruption in every industry. That's what I believe blockchain can do. So, I'm on a quest to understand how. Currently, I'm trying to learn how to build truly resilient decentralized applications.
			  </li>
			  <li>
				  <b>Prog Rock</b>. As an amateur guitarist who got divorced from making music really early, I keep myself content with just appreciating music these days.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent WIP Projects</h3>
		  <ul>
  			<li>
          An Android app/client that acts as a functioning node on the Ethereum network with the ability to deploy smart contracts using templates. Later stages of the project include a decentralized chat application.
    		</li>
  			<li>
          Intelligent camera module running on Raspberry Pi that can detect the most common objects in it's vicinity using YOLO.
  			</li>
        <li>
          General purpose chatbot that can understand Hindi & English. I plan to extend capabilty for other Indian languages such as Bengali and Tamil.
        </li>
  		    </ul>
  		    <h3>A Few Other Things</h3>
  		    <ul>
  			<li>
           President of the technical student chapter ISA-VIT, Vellore
  			</li>
  			<li>
  			   Bombay Stock Exchange Certification on Securities Markets (BCSM) & Derivatives Markets (BCDM)
  			</li>
        <li>
           Yokogawa Industrial Certfication on DCS Fundamentals, Engineering and Maintenance
        </li>

		   </ul>
      </div>
    </div>
  </div>
</section>
